footer {
    margin-top: 20px;
}

@media (max-width: 768px) {
    footer .row {
      flex-direction: column; /* Define layout em coluna */
      align-items: center; /* Centraliza os itens */
    }
    footer .col-12 {
      text-align: center; /* Alinha o conteúdo no centro */
    }
  }