body {
    font-family: Arial, sans-serif;
    margin: 0; 
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.app-container {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}

.calendario-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    text-align: center;
    font-size: 30px;
    position: relative;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.calendario-header {
    display: flex;
    justify-content: center;  /* Alinhamento central para o cabeçalho */
    align-items: center;
}

.nav-btn {
    background: none;
    border: none;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    color: #333;
    margin: 0;
}
.nav-btn:hover {
    color: #A0D683; /* Alterar a cor do texto do botão ao passar o mouse */
    background-color: transparent; /* Exemplo de cor de fundo no hover */
}
.calendario-title {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.calendario-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.calendario-thead {
    background-color: #f4f4f4;
}

.calendario-th {
    padding: 10px;
    color: #333;
    border: 1px solid #ddd;
    font-weight: bold;
}

.calendario-week {

}

.calendario-day {
    width: 40px;
    height: 60px;
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
    vertical-align: middle;
}

td.current-day {
    background-color: #A0D683;
    color: white;
    width: 60px;         /* Defina a largura e altura iguais */
    height: 60px;
    border-radius: 50%;  /* Bordas arredondadas para fazer um círculo */
    display: flex;
    justify-content: center;
    align-items: center; /* Centralizar o conteúdo */
    margin: auto;  
}

td.inactive {
    color: #ccc;
    background-color: #f9f9f9;
    cursor: default;
}

.calendario-container::before {
    content: '';
    position: absolute;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: -1;
}
