.benefits-page {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.benefits-page h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #A0D683;
    text-align: left;
}

.benefit-item {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.benefit-item:nth-child(odd) {
    background-color: #ffffff; /* Fundo branco para os ímpares */
}

.benefit-item:nth-child(even) {
    background-color: #f2f2f2; /* Fundo cinza claro para os pares */
}

.benefit-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #A0D683;
}

.benefit-item p, .benefit-item ul {
    font-size: 1rem;
    line-height: 1.6;
}

.benefit-item ul {
    padding-left: 20px;
}

.benefit-item li {
    margin-bottom: 5px;
}
