/* Estilo Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* Faz com que a rolagem seja suave */
}

body {
    font-family: 'Open Sans', sans-serif; /* Texto de corpo */
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif; /* Títulos */
}

body {
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.5;
}

body::-webkit-scrollbar {
    display: none; 
}

ul {
    list-style: none;
}
