.link-hover {
    text-decoration: none; /* Remove o sublinhado padrão */
    transition: text-decoration 0.3s; /* Transição suave */
}

.link-hover:hover {
    text-decoration: underline; /* Adiciona o sublinhado no hover */
}

/* Opcional: Se necessário, ajuste a altura dos itens do nav */
.nav-item {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens do menu */
}
